primary-color = #ff0000

header-height = 100px
header-bg-color = #fff
header-text-color = #333

footer-height = 100px
footer-bg-color = #fff
footer-text-color = #333

$color-black = #000000
$color-white = #ffffff
$color-grey-light = #9b9b9b
$color-black-light = #333333
$color-black-dark = #483735

$color-blue-sky = #32a0df
$color-grey = #EAEAEA
$color-grey-dark = #7f7f7f
