@import _fonts
@import _mixins
@import _variables

html, body
  height 100%
  
body
  font 300 16px 'Open Sans', sans-serif
  line-height 1.5em


.wrapper
  width: 100%
  
.left-side
  width: 10%
  min-height: 1000px
  float: left 
  background: $color-black
  color: $color-grey-light
  font-size: 0.875em
  
.right-side
  width: 90%
  float: left
  background: $color-white

.sidebar
  padding: 20px
  .nav-title
    font-size: 0.625em
    font-weight: 600
    text-transform: uppercase
  .nav-links
    list-style-type: none
    padding-left: 0px
    font-size: 1em
  a
    color: $color-grey-light
    &:hover
      text-decoration: none
      color: $color-white
  .btn-search
    font-size: 0.875em

.btn-signup
  padding: 5px
  border-radius: 3px
  margin-top: 30px
  margin-bottom: 5px
  width: 100%
  border: 1px solid $color-white
  background: transparent
  font-weight: bold
  color: $color-white
  &:hover
    background: $color-white
    color: $color-black

.btn-signin
  padding: 5px
  border-radius: 3px
  width: 100%
  background: transparent
  border: none
  &:hover
    background: $color-white
    color: $color-black
    
.footer-global
  font-size: 0.6875em
  margin-top: 50px
  .link
    a
      &::after
        content: "."
        margin:0 2px 0 2px
      
